<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- basic page needs
   ================================================== -->
   <meta charset="utf-8">
	<title>S.E.N</title>
	<meta name="description" content="">  
	<meta name="author" content="">

   <!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

 	<!-- CSS
   ================================================== -->
   <link rel="stylesheet" href="{% static 'css/base.css' %}">  
   <link rel="stylesheet" href="{% static 'css/main.css' %}">
   <link rel="stylesheet" href="{% static 'css/vendor.css' %}">     

   <!-- script
   ================================================== -->   
	<script src="{% static 'js/modernizr.js' %}"></script>
	<script src="{% static 'js/pace.min.js' %}"></script>

   <!-- favicons
	================================================== -->
	<link rel="icon" type="image/png" href="">

</head>

<body id="top">

	<!-- header 
   ================================================== -->
   <header>   	
   	<div class="row">

   		<div class="top-bar">
   			<a class="menu-toggle" href="#"><span>Menu</span></a>

	   		<div class="logo">
		         <a href="index.html">S.E.N</a>
		      </div>		      

		   	<nav id="main-nav-wrap">
					<ul class="main-navigation">
						<li class="current"><a class="smoothscroll"  href="#intro" title="">Home</a></li>
						<li><a class="smoothscroll"  href="#about" title="">About</a></li>
						<li><a class="smoothscroll"  href="#resume" title="">Resume</a></li>
						<li><a class="smoothscroll"  href="#portfolio" title="">Portfolio</a></li>
						<li><a class="smoothscroll"  href="#services" title="">Services</a></li>					
						<li><a class="smoothscroll"  href="#contact" title="">Contact</a></li>	
						<li><a href="#" title="">Style Demo</a></li>				
					</ul>
				</nav>    		
   		</div> <!-- /top-bar --> 
   		
   	</div> <!-- /row --> 		
   </header> <!-- /header -->

	<!-- intro section
   ================================================== -->
   <section id="intro">   

   	<div class="intro-overlay"></div>	

   	<div class="intro-content">
   		<div class="row">

   			<div class="col-twelve">

	   			<h5>Hello, World.</h5>
	   			<h1>S E. Nkwonta</h1>

	   			<p class="intro-position">
	   				<span>Backend-end Software Developer</span>
	   				<span>Django Enthusiast</span> 
					<span>Technical Writer</span> 
	   			</p>

	   			<a class="button stroke smoothscroll" href="#about" title="">More About Me</a>

	   		</div>  
   			
   		</div>   		 		
   	</div> <!-- /intro-content --> 

   	<ul class="intro-social">        
        <li><a href="https://web.facebook.com/kiddomantii.elias"><i class="fa fa-facebook"></i></a></li>
		<li><a href="https://github.com/sylucck"><i class="fa fa-github"></i></a></li>
		<li><a href="https://twitter.com/sylucck"><i class="fa fa-twitter"></i></a></li>
		<li><a href="https://www.linkedin.com/in/sylvester-nkwonta-718ba21b1/"><i class="fa fa-linkedin"></i></a></li>
		<li><a href="https://www.instagram.com/sylucck/"><i class="fa fa-instagram"></i></a></li>
      </ul> <!-- /intro-social -->      	

   </section> <!-- /intro -->


   <!-- about section
   ================================================== -->
   <section id="about">  

   	<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>About</h5>
   			<h1>Let me introduce myself.</h1>

   			<div class="intro-info">

   				<img src="{% static 'images/sylucck.jpg' %}" alt="Profile Picture">

   				<p class="lead">Hey! I'm Sylvester, a backend software developer, a Django lover- to and fro. I'm that easy-going dude obsessed with coding, creating and learning new ideas, code proficiency and readabilty. I definitely work for a better and problem solving result. I love playing with the API's. I love working with the databases. I work effortlessly and efficiently to serve a better backend technology. Get in touch, let's crack that software extensively building an API that communicates ASAP with a given database- which I'll term as one of my goals.</p>
   			</div>   			

   		</div>   		
   	</div> <!-- /section-intro -->

   	<div class="row about-content">
   		

			<div class="col-six tab-full">

				<h3>Skills</h3>
				<p>Within a year of becoming a software developer, I've painstakenly and happily acquired the following backend development skills with so much intent to utilize them efficiently.</p>
 
				 <ul class="skill-bars">
					<li>
						<div class="progress percent75"><span>75%</span></div>
						<strong>Python</strong>
					</li>
					<li>
						<div class="progress percent75"><span>75%</span></div>
						<strong>Django</strong>
					</li>
					<li>
						<div class="progress percent70"><span>70%</span></div>
						<strong>DRF</strong>
					</li>
					<li>
 
						<div class="progress percent65"><span>65%</span></div>
						<strong>BeautifulSoup</strong>
					</li>
					<li>
 
						<div class="progress percent70"><span>70%</span></div>
						<strong>Heroku</strong>
					</li>
					<li>
 
						<div class="progress percent70"><span>70%</span></div>
						<strong>GraphQL</strong>
					</li>
					<li>
 
						<div class="progress percent70"><span>70%</span></div>
						<strong>Cloudinary</strong>
					</li>
	   
				 </ul> <!-- /skill-bars -->		
 
			</div>
 

   		<div class="col-six tab-full">

   			<h3>Skills</h3>
   			<p>Along the line, I came across the front-end skillsets. I acquired them like it's nothing to improve more.</p>

				<ul class="skill-bars">

				   <li>
				   	<div class="progress percent70"><span>70%</span></div>
				   	<strong>HTML</strong>
				   </li>
				   <li>
				   	<div class="progress percent60"><span>60%</span></div>
				   	<strong>CSS</strong>
				   </li>
				   <li>
					<div class="progress percent50"><span>50%</span></div>
					<strong>JavaScript</strong>
				    </li>
				   <li>
				   	<div class="progress percent45"><span>45%</span></div>
				   	<strong>JQuery</strong>
				   </li>
				   <li>
				   	<div class="progress percent40"><span>40%</span></div>
				   	<strong>materialize</strong>
				   </li>
				   
      
				</ul> <!-- /skill-bars -->		

   		</div>
		

   	</div>

   	<div class="row button-section">
   		<div class="col-twelve">
   			<a href="#contact" title="Hire Me" class="button stroke smoothscroll">Hire Me</a>
   			<a href="#" title="Download CV" class="button button-primary">Download CV</a>
   		</div>   		
   	</div>

   </section> <!-- /process-->    


   <!-- resume Section
   ================================================== -->
	<section id="resume" class="grey-section">

		<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>Resume</h5>
   			<h1>More of my credentials.</h1>

   			<p class="lead">Django queryset is that skill I encountered and quite familiar with. I can access and manipulate through PostgreSQL database or any given database with django.</p>

   		</div>   		
   	</div> <!-- /section-intro--> 

   	<div class="row resume-timeline">

   		<div class="col-twelve resume-header">

   			<h2>My Experience</h2>

   		</div> <!-- /resume-header -->

   		<div class="col-twelve">

   			<div class="timeline-wrap">

   				<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-graduation-cap"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Programmer</h3>
	   					<p>October 2020 - Present</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>Python</h4>
	   					<p>My experince with Python has made me become a better programmer, researcher, creative thinker etc. From coding my first <code>print("Hello Word")</code>, I can now write length of codes that'll energized a full funtional application. Python made me discover frameworks, tons of libraries for data creation, database configuration, data manipulation, API building, HTTP requests, templates rendering etc. in web development. I can as well deploy a software application to a third party services like Heroku for cloud hosting. </p>
	   				</div>

	   			</div> <!-- /timeline-block -->

	   			<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-graduation-cap"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Back-end Developer</h3>
	   					<p>March 2021 - Present</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>Django-DRF-GraphQL-Webscrapping-JS</h4>
						<ul>
	   					<li><p>Experienced the ability to use the Django ORM to provide a bridge between data model and the database engine.</p></li>
						<li><p>With Django, I can define url patterns that are user and search engine friendly which provides remarkable endpoints for client-side server.</p></li>
						<li><p>Using the Django Rest Framework as a toolkit for enabling Representational State Transfer API's.</p></li>
						<li><p>Working with DRF Serializers that determines which data an API returns in response to the client.</p></li>
						<li><p>Integrating GraphQL to an already Django ORM thereby creating GraphQL API with a schema that describes how the client can access the endpoint.</p></li>
						<li><p>Creating a full database with PostgreSQL</p></li>
						<li><p>Using <code>requests</code> library to request for a random API endpoint to build another API endpoint</p></li>
						<li><p>Using JavaScript to create <code>addeventhandlers, fetch calls</code> that masterminded the development of an e-commerce app</p></li>
						<li><p>Using a third party service- Cloudinary, to override Heroku ephemeral file structure when serving media files</p></li>
						</ul>
	   				</div>

	   			</div> <!-- /timeline-block -->

	   			<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-graduation-cap"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Technical Writer</h3>
	   					<p>February 2022- Present</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>Blog</h4>
	   					<p>Created a full funtional blog site with Django to speedify my technical writing skill. I can assemble words together gracefully, creatively and produce a remarkable content for your daily consumption.</p>
	   				</div>

	   			</div> <!-- /timeline-block -->

   			</div> <!-- /timeline-wrap -->   			

   		</div> <!-- /col-twelve -->
   		
   	</div> <!-- /resume-timeline -->
   	
   
		
	</section> <!-- /features -->


	<!-- Portfolio Section
   ================================================== -->
	<section id="portfolio">

		<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>Portfolio</h5>
   			<h1>Check Out Some of My Works.</h1>

   			<p class="lead">These are few of my projects</p>

   		</div>   		
   	</div> <!-- /section-intro--> 

   	<div class="row portfolio-content">

   		<div class="col-twelve">

   			<!-- portfolio-wrapper -->
	         <div id="folio-wrapper" class="block-1-2 block-mob-full stack">

	         	<div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="{% static 'images/portfolio/blog.png' %}" alt="Liberty">
	                  <a href="#modal-01" class="overlay">	                  	           
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
		     					       <h3 class="folio-title">Blog Website</h3>	     					    
		     					    	 <span class="folio-types">
		     					       	  Web development
		     					       </span>
		     					   </div>	                      	
	                     </div>                    
	                  </a>
	               </div>	               
	        		</div> <!-- /folio-item -->

	        		<div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="{% static 'images/portfolio/imdb.png' %}" alt="Shutterbug">
	               	<a href="#modal-02" class="overlay">              		                  
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
	                     		<h3 class="folio-title">IMDB Movies</h3>	     					    
		     					    	<span class="folio-types">
		     					       	  Web Scrapping
		     					      </span>	
									   
								 </span>		     		
		     					   </div> 	                      	
	                     </div>                    
	                  </a>
	               </div>
	        		</div> <!-- /folio-item -->

	            <div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="{% static 'images/portfolio/ecom.png' %}"alt="Clouds">
	                  <a href="#modal-03" class="overlay">             		                  
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
	                     		<h3 class="folio-title">Ecommerce website</h3>	     					    
		     					    	<span class="folio-types">
		     					       	  Web Development
		     					      </span>		     		
		     					   </div> 	                      	
	                     </div>                    
	                  </a>
	               </div>
	        		</div> <!-- /folio-item -->

	            <div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="{% static 'images/portfolio/url.png' %}" alt="Beetle">
	                  <a href="#modal-04" class="overlay">                  	                 
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
	                     		<h3 class="folio-title">Url Shortner</h3>	     					    
		     					    	<span class="folio-types">
		     					       	  Web Development
		     					      </span>		     		
		     					   </div>  	                      	
	                     </div>                    
	                  </a>
	               </div>
	        		</div> <!-- /folio-item -->     

	        		<div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="{% static 'images/portfolio/online.png' %}" alt="Lighthouse">
	                  <a href="#modal-05" class="overlay">             		                  
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
	                     		<h3 class="folio-title">Online Barbers</h3>	     					    
		     					    	<span class="folio-types">
		     					       	  Web Development
		     					      </span>		     		
		     					   </div> 	                      	
	                     </div>                    
	                  </a>
	               </div>
	        		</div> <!-- /folio-item -->

	            <div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="{% static 'images/portfolio/cookie.png' %}" alt="Salad">
	                  <a href="#modal-06" class="overlay">
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
	                     		<h3 class="folio-title">To-Do</h3>	     					    
		     					    	<span class="folio-types">
		     					       	  API building
		     					      </span>		     		
		     					   </div>	                      	
	                     </div>                    
	                  </a>
	               </div>
	        		</div> <!-- /folio-item -->   

	            <!-- modal popups - begin
	            ============================================================= -->

	            <div id="modal-01" class="popup-modal slider mfp-hide">	

				     	<div class="media">
				     		<img src="images/portfolio/modals/blog.png" alt="" />
				     	</div>      	

					   <div class="description-box">
					      <h4>Blog Website</h4>		      
					      <p>This a basic Django project. Frontend enhanced with HTML, CSS, Bootstrap. It was built to showcase my writing capability.</p>

					      <div class="categories">Web Development</div>			               
					   </div>

			         <div class="link-box">
			            <a href="http://www.behance.net">Details</a>
					      <a href="#" class="popup-modal-dismiss">Close</a>
			         </div>		      

				   </div> <!-- /modal-01 -->

				   <div id="modal-02" class="popup-modal slider mfp-hide">	

				     	<div class="media">
				     		<img src="images/portfolio/modals/imdb.png" alt="" />
				     	</div>      	

					   <div class="description-box">
					      <h2>IMDB Movies</h2>		      
					      <strong>Used Python libraries, requests and bs4 to scrapped an online most watched movie website voted by the users.</strong>

					      <div class="categories">Web Scrapping</div>			               
					   </div>

			         <div class="link-box">
			            <a href="http://urlshort19.herokuapp.com/">View</a>
					      <a href="#" class="popup-modal-dismiss">Source Code</a>
						  <a href="#portfolio" class="popup-modal-dismiss">Close</a>
			         </div>		      

				   </div> <!-- /modal-02 -->

				   <div id="modal-03" class="popup-modal slider mfp-hide">	

				     	<div class="media">
				     		<img src="images/portfolio/modals/ecom.png" alt="" />
				     	</div>      	

					   <div class="description-box">
					      <h4>Ecommerce website</h4>		      
					      <p>Developed a full functional ecommerce website with lots of functionalities. The ecommerce store is called Djangofied.</p>

					      <div class="categories">Web Development</div>			               
					   </div>

			         <div class="link-box">
			            <a href="http://www.behance.net">Details</a>
					      <a href="#" class="popup-modal-dismiss">Close</a>
			         </div>		      

				   </div> <!-- /modal-03 -->

				   <div id="modal-04" class="popup-modal slider mfp-hide">	

				     	<div class="media">
				     		<img src="images/portfolio/modals/url.png" alt="" />
				     	</div>      	

					   <div class="description-box">
					      <h4>Url Shortner</h4>		      
					      <p>Created a basic URL shortner website. Built with Django, HTML, Ajax. A larger link is made smaller.</p>

					      <div class="categories">Web Development</div>			               
					   </div>

			         <div class="link-box">
			            <a href="http://www.behance.net">Details</a>
					      <a href="#" class="popup-modal-dismiss">Close</a>
			         </div>		      

				   </div> <!-- /modal-04 -->

				   <div id="modal-05" class="popup-modal slider mfp-hide">	

				     	<div class="media">
				     		<img src="images/portfolio/modals/online.png" alt="" />
				     	</div>      	

					   <div class="description-box">
					      <h4>Online Barbers</h4>		      
					      <p>A skeleton website designed with an intention to make it better reliable online barbers store. List of barbers to request for services.</p>

					      <div class="categories">Web Development</div>			               
					   </div>

			         <div class="link-box">
			            <a href="http://www.behance.net">Details</a>
					    <a href="#" class="popup-modal-dismiss">Close</a>
			         </div>		      

				   </div> <!-- /modal-05 -->

				   <div id="modal-06" class="popup-modal slider mfp-hide">	

				     	<div class="media">
				     		<img src="images/portfolio/modals/cookie.png" alt="" />
				     	</div>      	

					   <div class="description-box">
					      <h4>To-DO</h4>		      
					      <p>Integrated GraphQL to a django kitchen To-Do app. A schema was designed to help allow users access the API endpoint.</p>

					      <div class="categories">API</div>			               
					   </div>

			         <div class="link-box">
			            <a href="http://www.behance.net">Details</a>
					      <a href="#" class="popup-modal-dismiss">Close</a>
			         </div>		      

				   </div> <!-- /modal-06 -->


				   <!-- modal popups - end
	            ============================================================= -->

	         </div> <!-- /portfolio-wrapper --> 

   		</div>  <!-- /twelve -->   

   	</div> <!-- /portfolio-content --> 
		
	</section> <!-- /portfolio --> 


	<!-- CTA Section
   ================================================== -->
	<section id="cta" class="grey-section">

   	<div class="row cta-content">

   		<div class="col-twelve section-ads">  

	     		<h2>Hello, take a break and read this!</h2>

		      <p class="lead">
		      In my first stage on this journey, there were situations that got my github repositories bit messy, I learnt from it and did better. You should read it....
				</p>

				<div class="action">
			      <a class="button button-primary large" href="http://myb1og.herokuapp.com/ignoring-project-tutorials">Read Up</a>
		      </div>		     	

   		</div>

   	</div> <!-- /cta-content -->

   </section> <!-- /cta --> 

	
	<!-- services Section
   ================================================== -->
	<section id="services">

		<div class="overlay"></div>

		<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>Services</h5>
   			<h1>What Can I Do For You?</h1>

   			<p class="lead">Here are the services I render.</p>

   		</div>   		
   	</div> <!-- /section-intro -->

   	<div class="row services-content">

   		<div id="owl-slider" class="owl-carousel services-list">

	      	<div class="service">	

	      		<span class="icon"><i class="icon-earth"></i></span>            

	            <div class="service-content">	

	            	 <h3>Web Scrapping</h3>

		            <p class="desc">I have written couple of projects that can requests and parse data structure in an API endpoint and consume data in order to create an alternative API.
	         		</p>
	         		
	         	</div> 	         	 

				</div> <!-- /service -->

				<div class="service">	

					<span class="icon"><i class="icon-window"></i></span>                          

	            <div class="service-content">	

	            	<h3>Web Development</h3>  

		            <p class="desc">With the experience of Django, I can create a full functional software application paying so much attention to the ORM, APIs, databases, Third Party Services and Infrastructures.
	         		</p>

	            </div>	                          

			   </div> <!-- /service -->

			   <div class="service">

			   	<span class="icon"><i class="icon-paint-brush"></i></span>		            

	            <div class="service-content">

	            	<h3>Technical Writer</h3>

		            <p class="desc">I know my onions. I know I can deliver top notch content based on a given area- Technology and otherwise.
	        			</p> 

	            </div> 	            	               

			   </div> <!-- /service -->

				

	      </div> <!-- /services-list -->
   		
   	</div> <!-- /services-content -->
		
	</section> <!-- /services -->	


	<!-- stats Section
   ================================================== -->
	
	
   <!-- contact
   ================================================== -->
	<section id="contact">

		<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>Contact</h5>
   			<h1>I'd Love To Hear From You.</h1>

   			<p class="lead">It will be pleasant and clearly a bit of professionalism to get a response from you.</p>

   		</div> 
   	</div> <!-- /section-intro -->

   	<div class="row contact-form">

   		<div class="col-twelve">

            <!-- form -->
            <form action="" method="post" >
      			<fieldset>
				
					 
				  {% csrf_token %}
				  {{ form | crispy }}           
				</h3>
			
      			</fieldset>
				  <button class="btn btn-success my-3" type="submit">Send message</button>
      		</form> <!-- Form End -->

            <!-- contact-warning -->
            

         </div> <!-- /col-twelve -->
   		
   	</div> <!-- /contact-form -->

   	<div class="row contact-info">

   		<div class="col-four tab-full">

   			<div class="icon">
   				<i class="icon-pin"></i>
   			</div>

   			<h5>Where to find me</h5>

   			<p>
            Awka, Anambra<br>
            Nigeria
            </p>

   		</div>

   		<div class="col-four tab-full collapse">

   			<div class="icon">
   				<i class="icon-mail"></i>
   			</div>

   			<h5>Email Me At</h5>

   			<p>nkwontasylvester15@gmail.com<br>			     
			   </p>

   		</div>

   		<div class="col-four tab-full">

   			<div class="icon">
   				<i class="icon-phone"></i>
   			</div>

   			<h5>Call Me At</h5>

   			<p>
			   	Mobile: (+234) 81- 088- 36-102<br>
			     	
			   </p>

   		</div>
   		
   	</div> <!-- /contact-info -->
		
	</section> <!-- /contact -->


   <!-- footer
   ================================================== -->

   <footer>
     	<div class="row">

     		<div class="col-six tab-full pull-right social">

     			<ul class="footer-social">        
			      <li><a href="https://web.facebook.com/kiddomantii.elias"><i class="fa fa-facebook"></i></a></li>
			      <li><a href="https://github.com/sylucck"><i class="fa fa-github"></i></a></li>
			      <li><a href="https://twitter.com/sylucck"><i class="fa fa-twitter"></i></a></li>
			      <li><a href="https://www.linkedin.com/in/sylvester-nkwonta-718ba21b1/"><i class="fa fa-linkedin"></i></a></li>
			      <li><a href="https://www.instagram.com/sylucck/"><i class="fa fa-instagram"></i></a></li>
			   </ul> 
	      		
	      </div>

      	<div class="col-six tab-full">
	      	<div class="copyright">
		        	<span>© Copyright Sylvester Nkwonta 2022.</span> 
		        	<span>Design by <a href="http://www.styleshout.com/">styleshout</a></span>	         	
		         </div>		                  
	      	</div>

	      	<div id="go-top">
		         <a class="smoothscroll" title="Back to Top" href="#top"><i class="fa fa-long-arrow-up"></i></a>
		      </div>

      	</div> <!-- /row -->     	
   </footer>  

   <div id="preloader"> 
    	<div id="loader"></div>
   </div> 

   <!-- Java Script
   ================================================== --> 
   <script src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
   <script src="{% static 'js/plugins.js' %}"></script>
   <script src="{% static 'js/main.js' %}"></script>

</body>

</html>